<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ander Aava, veebiprogrammeerimine 2023</title>
</head>

<body>
		<img src="/banner/vp_banner.png" alt="veebiprogrammeerimise kursuse banner">
		<h1>Ander Aava</h1>
		<p>See leht on loodud <a href="https://www.tlu.ee/" target="_blank">TLÜ</a> Digitehnoloogiate instituudis õppetöö raames o_O</p>
		<p>Mulle meeldib kokkamine ja kassid. See veebiproge värk läheb päris hästi siiamaani. </p>	
		<hr>
		<p>Veebileht koostati veebiprogrammeerimise kursuse raames.
		<hr>
		</p>
		<ul>
			<li><a href="/timenow">Praegune hetk</a></li>
			<li><a href="/proverb">Vanasõnad</a></li>
			<li><a href="/namelog">Nimede kirjed</a></li>
			<li><a href="/eestifilm">Eesti film</a></li>
			<li><a href="/news">Uudised</a></li>
		</ul>
		<hr>
</body>
</html>