<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ander Aava, veebiprogrammeerimine 2023</title>
</head>

<body>
		<img src="/banner/vp_banner.png" alt="veebiprogrammeerimise kursuse banner">
		<h1>Ander Aava</h1>
		<p>See leht on loodud <a href="https://www.tlu.ee/" target="_blank">TLÜ</a> Digitehnoloogiate instituudis õppetöö raames o_O</p>
		<p>Mulle meeldib kokkamine ja kassid. See veebiproge värk läheb päris hästi siiamaani. </p>	
		<hr>
		<p>Veebileht koostati veebiprogrammeerimise kursuse raames.
		<hr>
		</p>
		<ul>
			<li><a href="/timenow">Praegune hetk</a></li>
			<li><a href="/proverb">Vanasõnad</a></li>
			<li><a href="/namelog">Nimede kirjed</a></li>
			<li><a href="/eestifilm">Eesti film</a></li>
			<li><a href="/news">Uudised</a></li>
			<li><a href="/photoupload">Fotode üleslaadimine</a> (ainult sisselogitud kasutajatele)</li>
			<li><a href="/photogallery">Fotode galerii</a></li>

		</ul>
		<hr>
		<h2>Logi sisse</h2>
		<form method="POST">
			<label for="emailInput">E-mail (kasutajatunnus)</label>
			<input type="email" name="emailInput" id="emailInput">
			<br>
			<label for="passwordInput">Salasõna</label>
			<input type="password" name="passwordInput" id="passwordInput">
			<br>
			<input type="submit" name="loginSubmit" value="Logi sisse!">
			<span> <%= locals.notice || "Ootel!"%></span>
		</form>
		<p><a href="/logout">Logi välja</a></p>
		<p>Või loo uus <a href="/signup">kasutajakonto</a>!</p>
		<hr>
</body>
</html>