<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ander Aava, veebiprogrammeerimine 2023</title>
</head>
<body>
		<img src="/banner/vp_banner.png" alt="veebiprogrammeerimise kursuse banner">
		<h1><%= h1 %></h1>
		<ul>
			<% entries.forEach(function(entry){ %>
				<% if (entry.firstName || entry.lastName || entry.date) { %>
				<li>
					<%= entry.firstName %> <%= entry.lastName %>, mis salvestati <%= entry.date %>
				</li>
				<% } %>
			<% }); %>
		</ul>
		<hr>
		<ul>
			<li><a href="/">Avalehele</a></li>
		</ul>
		<hr>
</body>
</html>