<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ander Aava, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/vp_banner.png" alt="veebiprogrammeerimise kursuse banner">
	<h1>Uudis</h1>
	<ul>
		<li><a href="/news">Uudiste avaleht</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2><%= allNews[0].title %></h2>
	<p><%= allNews[0].content %></p>
</body>
</html>