<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ander Aava, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/vp_banner.png" alt="veebiprogrammeerimise kursuse banner">
	<h1>Uudised</h1>
	<ul>
		<li><a href="/news">Uudiste avaleht</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Uudised</h2>
	<% newsList.forEach(function(news){ %>
		<li><a href="/news/read/<%= news.id %>"><%= news.title %></a></li>
	<% }); %>

</body>
</html>